*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
 }
 a{
     color: inherit;
     text-decoration: none;
 }
 .social{
     padding: 10px 0;
     background-color: greenyellow;
 }
 .social ul li{
    display: inline-block; 
    color: black;
    margin-right: 10px;
 }
 .container{
     width: 80%;
     margin: 0 auto;
 }
 .container:after{
     content: " ";
     display: block;
     clear: both;
 }
 header{
    background-color: black;
    color: greenyellow;
 }
 header h1{
     float: left;
     padding: 20px 0;
     color: greenyellow;
 }
 header ul{
     float: right;
 }
 header ul li{
     display: inline-block;
 }
 header ul li a{
     padding: 25px 20px;
     display: inline-block;
 }
 header ul li a:hover{
     background-color: greenyellow;
     color: black;
 }
 .active{
    background-color: rgb(198, 243, 130);
    color: black;
 }
 .banner{
     height: 60vh;
     background-image: url(../img/portNa.jpg);
     background-size: cover;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .banner:after{
     content: " ";
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(198, 243, 130, 0.502)
 }
 .banner h2{
     color: black;
     z-index: 1;
     padding: 20px 25px;
     border: 3px solid black;
 }
 section{
     padding: 50px 0;
 }
 section h3{
     text-align: center;
     padding: 20px 0;
     color: greenyellow;
 }
 .news{
     background-color: black;
 }
 .news .logo {
     width: 25%;
     float: left;


 }
 .news .text{
     width: 75%;
     float: left;

 }
 .news p{
     color: #666;
     word-spacing: 1px;
     
 }
 footer{
     padding: 30px 0;
     background-color: greenyellow;
     color: black;
     text-align: center;
 }
.news p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.product{
    
    background-color: #1C1C1C;
}
.product .box{
    
    color: greenyellow;
}
.product .box:after{
    content: " ";
    display: block;
    clear: both;
}
.product .box .col-4 {
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.product .box .col-4 .icon{
    width: 250px;
    height: 250px;
    border: 1px solid;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    margin: 0 auto;
}
.product .box .col-4 h4{
    margin: 20px 0;
}
.beritanya{
    margin: 0 auto;
    
    width: auto;
    height: auto;
    background-color: #1C1C1C;
    color: greenyellow;
    box-sizing: border-box;
}
.beritanya .container{
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--cl-main);
}
.beritanya .image .tengah{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.beritanya h5 {
    opacity: 50%;
    text-align: center;
    color: bisque;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.beritanya .text h1{
    text-align: center;
    color: bisque;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}
.beritanya .text p{
    text-align: justify;
    color: whitesmoke;
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
}
.beritanya .sumber h4{
    text-align: justify;
    color: whitesmoke;
    display: block;
    margin-block-start: 3em;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
}
